@use '../../Styles/variables' as *;
@use '../../Styles/mixins' as *;

.events{
    color: var(--color-secondary);
    margin-top: 5rem;
    &__title{
        font-size: 4rem;
        margin-bottom: 10rem;
        font-weight: 700;
        &--container{
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }
    &__scroll-point{
        position: absolute;
        top: 40rem;
    }
}