@use '../../Styles/variables' as *;
@use '../../Styles/mixins' as *;

.scroller-text{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    // width: 100%;

    &__bar{
        display: flex;
        // justify-content: space-between;
    }
    &__text{
        // margin-left: 1rem;
        // margin: 0;
        font-size: 1.5rem;
        &--container{
            // min-width: fit-content;
            // min-width: 100%;
            text-wrap: nowrap;
            margin: 0.2rem 1rem 0.2rem 1rem;
        }
    }
}