@use '../../Styles/variables' as *;
@use '../../Styles/mixins' as *;

.scroller-text{
    max-width: none;
    margin: 4rem 0 2rem 0;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    &__bar{
        display: flex;
        justify-content: space-between;
        margin: 0.8rem;
    }
    &__text{
        font-size: 1.5rem;
        min-width: fit-content;
        text-wrap: nowrap;
    }
}