@use '../../Styles/variables' as *;
@use '../../Styles/mixins' as *;

.hero{
    margin-top: 4rem;
    &__content{
        display: flex;
    }
    &__image{
        max-width: 100vw;
        width: 1000px;

        object-fit: contain;
    }
    &__text{
        font-size: 14vw;
        color: white;
        mix-blend-mode: difference;

        &--container{
            position: absolute;
            right: 0rem;
            top: 6vh;

            &:hover{
                cursor: ew-resize;
            }
        }
    }
}