@use '../../Styles/variables' as *;
@use '../../Styles/mixins' as *;

.hero{
    margin-top: 5rem;
    &__content{
        display: flex;
    }
    &__image{
        max-width: 100vw;
        &--container{
            
        }
    }
    &__text{
        font-size: 14vw;

        &--container{
            position: absolute;
            right: 0rem;
            top: 6vh;

            &:hover{
                cursor: ew-resize;
            }
        }
    }
}