@use '../../Styles/variables' as *;
@use '../../Styles/mixins' as *;

.scroll-text {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    &__line{
        width: 100%;
        height: 1px;
        background-color: #000;
    }
    &__text{
        white-space: nowrap;
        font-size: 2rem;
    }
  }