@use 'variables' as *;


@mixin mobileS {
  @media screen and (min-width: $mobileS-breakpoint) {
    @content;
  }
}

@mixin mobileM {
  @media screen and (min-width: $mobileM-breakpoint) {
    @content;
  }
}

@mixin mobileL {
  @media screen and (min-width: $mobileL-breakpoint) {
    @content;
  }
}

@mixin tablet {
    @media screen and (min-width: $tablet-breakpoint) {
      @content;
    }
  }

  @mixin laptop {
    @media screen and (min-width: $laptop-breakpoint) {
      @content;
    }
  }

  @mixin laptopL {
    @media screen and (min-width: $laptopL-breakpoint) {
      @content;
    }
  }

  @mixin desktop {
    @media screen and (min-width: $desktop-breakpoint) {
      @content;
    }
  }