            // <-------> Jack Stasiulis' Custom Responsive design Breakpoints <-------> \\

$mobileS-breakpoint: 320px;
$mobileM-breakpoint: 375px;
$mobileL-breakpoint: 425px;

$tablet-breakpoint: 768px;
$laptop-breakpoint: 1024px;

$laptopL-breakpoint: 1440px; 
$desktop-breakpoint: 1620px; 

// $desktop-breakpoint: 1920px; 
// $desktop-breakpoint: 2560px; 

// Feel free to change these



// $color-primary: #dcdcdc;
// $color-secondary: #282828;

// $color-primary-faded: #717171;
// $color-secondary-faded: #3a3a3a;
