            // <-------> Jack Stasiulis' Custom Responsive design Breakpoints <-------> \\

$mobileS-breakpoint: 320px;
$mobileM-breakpoint: 375px;
$mobileL-breakpoint: 425px;

$tablet-breakpoint: 768px;
$laptop-breakpoint: 1024px;

$laptopL-breakpoint: 1440px; 
$desktop-breakpoint: 1620px; 

// $desktop-breakpoint: 1920px; 
// $desktop-breakpoint: 2560px; 

// NOTE
// iPhone 11 pro - 375px
// iPhone 12 pro - 390px
// both included in mobileM

:root {
  --light-mode-bg: #E9E8E3;
  --light-mode-text: rgb(7, 24, 12);


  --dark-mode-bg: rgb(7, 24, 12);
  --dark-mode-text: #F7E6F3;
  
  --color-primary: var(--light-mode-bg); // default mode (light mode)
}

.light-mode {
  --color-primary: var(--light-mode-bg);
  --color-secondary: var(--light-mode-text);
}

.dark-mode {
  --color-primary: var(--dark-mode-bg);
  --color-secondary: var(--dark-mode-text);
}
