@use '../../Styles/variables' as *;
@use '../../Styles/mixins' as *;

.about{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
        &__image{
            // background-color: white;
            // transform: rotate(45deg);
            transition: min-width 0.1s;
            min-width: 80vw;
            max-width: 100vw;
            @include laptop{
                min-width: 70vw;
                max-width: 10vw;
            }
            @include laptopL{
                min-width: 45vw;
                // max-width: 10vw;
            }

            &--container{
                max-height: 40rem;
                // outline: solid 2px lime;

            }
        }
        &__tagline{
            font-size: 4rem;
            margin-bottom: 15vh;
            margin-right: 5vw;
            // color: white;
            // mix-blend-mode: difference;
            @include laptopL{
                margin-right: 20vw;
            }

            &--container{
                width: 100%;
                height: 100%;
                position: absolute;
                display: flex;
                justify-content: right;
                align-items: end;
            }
        }
        &__text{
            &--container{
                // position: absolute;
                width: 30rem;
                font-size: 1.1rem;
            }
        }
        &__scroll-point{
            width: 3rem;
            height: 3rem;
            background-color: red;
            position: absolute;
            top: -4rem;
        }
}