@use '../../Styles/variables' as *;
@use '../../Styles/mixins' as *;

  
  .navbar {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px;
    color: #fff;
        &__logo{
            font-size: 1.5rem;
            cursor: pointer;
        }
        &__menu{
            display: none;
            position: absolute;
            top: 3.125rem;
            left: 0;
            width: 100%;
            background-color: #333;
            z-index: 1;

            @include tablet{
                display: flex;
                position: static;
                width: auto;
            }
            &.open {
            display: flex;
            justify-content: space-around;
            align-items: center;
            }
        }
        &__item{
            padding: 10px;
            cursor: pointer;
        
            &:last-child {
                border-bottom: none;
            }
        }
  }
  
  .hamburger-menu {
    font-size: 1.5rem;
    cursor: pointer;
  
    @include tablet {
        display: none;
    }
  }  