@use '../../Styles/variables' as *;
@use '../../Styles/mixins' as *;

  
  .navbar {
    position: fixed;
    width: 100%;
    z-index: 20;
    height: 4rem;


    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    mix-blend-mode: difference;
    padding: .625rem;
    // color: #fff;
        &__logo{
            font-size: 1.5rem;
            cursor: pointer;
                &--text{
                    color: white;
                    mix-blend-mode: difference;
                }
        }
        &__menu{
            display: none;
            position: absolute;
            top: 3.125rem;
            left: 0;
            width: 100%;
            // background-color: #333;
            z-index: 100;

            @include tablet{
                display: flex;
                position: static;
                width: auto;
            }
            &.open {
            display: flex;
            justify-content: space-around;
            align-items: center;
            position: fixed;
            }
        }
        &__item{
            padding: 10px;
            cursor: pointer;
        
            &:last-child {
                border-bottom: none;
            }
        }
  }
  
  .hamburger-menu {
    font-size: 1.5rem;
    cursor: pointer;
    color: white;
    mix-blend-mode: difference;
  
    @include tablet {
        display: none;
    }
  }  

  a{
    color: white;
    text-decoration: none;
  }