@use './Styles/variables.scss' as *;
@use './Styles/mixins.scss' as *;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // ::selection{
  //     color: red;
  // }
    // max-width: 100%;
    overflow-x: hidden;
}

.App {
  font-family: Helvetica, Arial, sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: $light-mode-bg;
  // background-color: white;
  

}

html{
  scroll-behavior: smooth;
}


@font-face {
  font-family: 'Redaction';
  src: url('./Assets/Fonts/Redaction/Redaction-Regular.otf'); /* Safari, Android, iOS */
        font-style: normal;
        font-weight: normal;
        text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'Redaction10';
  src: url('./Assets/Fonts/Redaction/Redaction10-Regular.otf'); /* Safari, Android, iOS */
        font-style: normal;
        font-weight: normal;
        text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'Redaction20';
  src: url('./Assets/Fonts/Redaction/Redaction20-Regular.otf'); /* Safari, Android, iOS */
        font-style: normal;
        font-weight: normal;
        text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'Redaction35';
  src: url('./Assets/Fonts/Redaction/Redaction35-Regular.otf'); /* Safari, Android, iOS */
        font-style: normal;
        font-weight: normal;
        text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'Redaction50';
  src: url('./Assets/Fonts/Redaction/Redaction50-Regular.otf'); /* Safari, Android, iOS */
        font-style: normal;
        font-weight: normal;
        text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'Redaction70';
  src: url('./Assets/Fonts/Redaction/Redaction70-Regular.otf'); /* Safari, Android, iOS */
        font-style: normal;
        font-weight: normal;
        text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'Redaction100';
  src: url('./Assets/Fonts/Redaction/Redaction100-Regular.otf'); /* Safari, Android, iOS */
        font-style: normal;
        font-weight: normal;
        text-rendering: optimizeLegibility;
}







