@use '../../Styles/variables' as *;
@use '../../Styles/mixins' as *;

.dark-light-toggle {
  display: flex;
  align-items: center;
  margin-right: 1rem;

    &__svg{
    fill: white;
      height: 1.6rem;
      width: 1.6rem;
        cursor: pointer;
    }
    &__checkbox{
      display: none;
    }
  }
  
  